@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/css?family=Lobster&display=swap);

* {
    margin : 0px;
    padding : 0px;
}


body { background-color : #fff; font-family: 'NanumSquare', sans-serif; }
header{ position: fixed; z-index:10; width:100%; background-color:#fff; box-shadow:0 0 2px 2px #f0f0f0; }
header .container{ display:flex; display:-webkit-flex; align-items:center; max-width:100%; height:80px; margin:0 64px; }
h1{ color:#0f4c81; margin-right:16px; font-size:24px; }
h1 a{ display:flex; display:-webkit-flex; justify-content: center; align-items: center; color:#0f4c81; }
h1 a:hover{ color:#5f4b8b; }
h1 a span{ display:flex; display:-webkit-flex; justify-content:center; align-items: center; flex:1;-webkit-flex:1; margin-right:8px; font-family: 'Lobster', cursive; color:#fff; text-align:center; width:28px; height:28px; background-color:#0f4c81; border-radius: 8px; border:1px solid #0f4c81; }
a{text-decoration: none;}
p,li{ color:#666; }
header nav{ flex:1; -webkit-flex:1; display:flex; display:-webkit-flex; align-items: center; justify-content: flex-end;}
header nav a{ opacity: 0.5; }
header nav a:hover{ opacity:1; }
header .material-icons{ margin-left:4px; font-size:28px; color:#666; cursor: pointer;}
.content{ margin:0 auto; max-width:1200px; width:100%; }
.content_box{ margin:0 24px; }
.intro{ padding-top: 124px;  }
.intro .intro_box{ display: flex; display: -webkit-flex; justify-content: center; align-items: center; padding-bottom:24px;}
.intro .my_box{ display: flex; display: -webkit-flex; width:124px; height:124px; border:1px solid white; border-radius:100%; overflow:hidden; }
.intro .my_box img{ width:100%; }
.intro .my_info{ margin-left:24px; }
.intro .my_info p{ margin-top:4px; }
.sub_menu{ display:flex; display:-webkit-flex; align-items: center; justify-content: center; margin-top: 48px; border-top:1px solid #eee; }
.sub_menu .sub_menubox{ display: flex; -webkit-display:flex; }
.sub_menu a{ padding-top:16px; text-align:center; width:120px; color:#666; }
.sub_menu a:hover{ margin-top:-2px; color:#0f4c81; border-top:2px solid #0f4c81; box-sizing: border-box; }
.sub_menu a:active{ margin-top:-2px; color:#0f4c81; border-top:2px solid #0f4c81; box-sizing: border-box; }
.sub_menu a.active{ margin-top:-2px; color:#0f4c81; border-top:2px solid #0f4c81; box-sizing: border-box; }
.about{ margin-top:60px; padding-bottom:64px; }
.about h3{ font-size:24px; }
.about .about_top{ margin-top:32px; }
.about .about_top p{ font-size:20px; }
.about h4{ display:flex; display:-webkit-flex; align-items:center; margin:40px 0 16px 0; }
.about p{ margin-top:12px; }
.about ul{ margin-left:24px; }
.about ul li{ margin:4px 0;}
.about ul a{ margin-top:4px; text-decoration:underline; color:#666; }
.half_pen{ display:inline-block; background:linear-gradient(to top, yellow 50%, transparent 60%); }
.about span.material-icons{ margin-right:4px; font-size:20px; }


#masonry_container{ margin:0 auto; margin-top:20px; margin-bottom:72px; max-width: 1200px; /* width:100%; */ column-count: 4;  column-gap: 16px; }
.item { /*width:25%;*/ display:inline-block; width:100%;  background-color : #FFFFFF;  border-radius : 10px; /* float : left; */}
.itembox{ margin:16px; border-radius:24px; overflow: hidden; position:relative; }
.itembox img{ width:100%; vertical-align: bottom; transition:0.2s; -webkit-filter:grayscale(70%); filter:none; }
.itembox:hover img{ transform: scale(1.2); -webkit-filter:grayscale(100%); filter:gray; }
.itembox .img_hover{ position:absolute; top:0; left:0; right:0; bottom:0; display:flex; -webkit-display:flex; justify-content: center; align-items: center;  visibility: hidden; margin-top:0; color:#fff; text-align: center; }
.itembox:hover .img_hover{ visibility: visible;  }


#pf_container{ margin:0 auto; margin-top:20px; margin-bottom:72px; max-width: 1200px; /* width:100%; */ column-count: 1;  column-gap: 16px; }
#pf_container .item{ width:100%; }
#pf_container .itembox{ margin:16px; border-radius:16px; overflow: hidden; box-shadow:1px 2px 6px #c0c0c0; }
#pf_container .project{ padding: 20px; }
#pf_container .project h4{margin-top:0;}
#pf_container h4{ font-size: 20px; }
#pf_container .project span{ margin-top:4px; font-size:12px; }
#pf_container h5{ margin-top: 16px; font-size:14px; font-weight:normal; color:#666; }
#pf_container p{ margin-top:4px; font-size:16px; color:#999 }
#pf_container .project ul{overflow: hidden; margin-left:0; }
#pf_container .project ul li{ margin:0 8px 8px 0; padding:4px 8px; list-style: none; float:left; font-size:14px; border:1px solid #c0c0c0; border-radius:20px; }





@media screen and (max-width:768px){
    header .container{ margin:0 16px; height:64px; }
    .content_box{ padding:0 16px; }
    #masonry_container{ column-count: 2; }
    h1{ font-size:20px; margin-right:8px; }
    .search .searchbox{ border:none; }
    .search .searchbox input[type="search"]{ display:none; }
    .searchbox i{ margin: 8px 16}
    .item{ /*width:50%;*/ }
}